<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for i in msg %}
        <p>{{i}}</p>
    {% endfor%}
    <a href="{% url 'formcliente' %}">Novo cliente</a>
    <ul>
        {% for i in clientes %}
            <li>{{i.nome}}</li>
            <a href="{{i.get_cliente}}">editar o cliente</a>
        {% endfor %}
    </ul>
</body>
</html>