{% extends 'base.html' %}

{% block main %}

<title>Conta | Indy Car</title>


{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ message }}</strong>
    </div>
{% endfor %}



<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-5 ">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" >
                    {% csrf_token %}
                    <h1 id="center">Nova Senha</h1><br><br>
                    
                    <h5>Senha antiga:</h5>
                    {{form.old_password}}<br><br>
                    <h5>Nova senha:</h5>
                    {{form.new_password1}}<br><br>
                    <ul class="disc">
                      <li>Sua senha não pode ser tão parecida como suas outras informações pessoais.</li>
                      <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                      <li>Sua senha não pode ser uma senha habitualmente utilizada.</li>
                      <li>Sua senha não pode ser inteiramente numérica.</li>
                    </ul><br>
                    <h5>Repita a nova senha:</h5>
                    {{form.new_password2}}<br><br>
                    

                    <br><button class="btn btn-outline-info btn-lg btn-block" type="submit">Enviar</button><br>
                </form>
            </div>    
        </div>
      </div>  
    </div>   
</div>
  {% endblock %}