<title>Conta | Indy Car</title>
{% extends 'base.html' %}

{% block main %}

{% for message in messages %}
<div class="alert alert-danger">
<strong>{{message}}</strong>
</div>  
{% endfor %}

<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-5 ">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    <h1 id="center">Editar Usuário</h1><br><br>
            
                    {% csrf_token %}
                    <h5>Primeiro nome:</h5>
                    {{form.first_name}}<br><br>
                    <h5>Último nome:</h5>
                    {{form.last_name}}<br><br>
                    <h5>Endereço de E-mail:</h5>
                    {{form.email}}<br><br>

                    <input class="btn btn-outline-info btn-lg btn-block" type="submit" value="Enviar" onclick="return validarEditarUsuario()"/>
                  </fildset>
            
                </form>
            </div>    
        </div>
      </div>  
    </div>   
</div>
    {% endblock %}


