<!DOCTYPE html>
<html>
<head>
  <title>Indy Car</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width", initial-scale="1.0"> 
  <link rel="stylesheet" type="text/css" href="../static/login_style.css" />
  <link rel="icon" type="image/jpg" href="../static/images/icons/f.jpg"/>
</head>
<body>

    <div class="form-area">
    	<h2>Indy Car</h2>
    	<form method="post" action="submit">{% csrf_token %}
    		<p>Usuário:</p>
    		<input type="text" id="username" class="form-control" name="username" placeholder="Usuário">

    		<p>Senha:</p>
    		<input type="password" class="form-control" id="password" name="password" placeholder="Senha">

			<div>
                {% for message in messages %}
                  <div class="alert alert-info">
                    <strong>{{message}}</strong>
                  </div>  
                {% endfor %}
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        <br>
    		<a href="recuperacaodesenha/">Esqueceu sua senha?</a>


    	</form>
    </div>

</body>
</html>