<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo usuário</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
            <p>msg</p>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {{form.errors}}
        <button type="submit">Enviar</button>
    </form>
</body>
</html>