<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Indy Car</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width", initial-scale="1.0"> 

</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-info">
    <a href="/" class="navbar-brand">Indy Car</a>


    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link"> Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'formcliente' %}" class="nav-link"> Novo Cliente</a>
        </li>
        <li class="nav-item">
            <a href="/cliente/" class="nav-link"> Clientes</a>
        </li>
        <li class="nav-item">
            <a href="/logout/" class="nav-link"> Sair</a>
        </li>
    </ul>
</nav>


{% block main %}


{% endblock %}

</body>
</html>
