<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Indy Car</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale="1">
 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="../static/main.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width", initial-scale="1.0"> 
  

</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-info">
    <h4><a href="/perfil/" class="nav-link"><font color="black">{{user}}</font></a></h4>


    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/" class="nav-link"> Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'cliente' %}" class="nav-link"> Novo Cliente</a>
        </li>
        <li class="nav-item">
            <a href="/clientes/" class="nav-link"> Clientes</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'empresa' %}" class="nav-link"> Nova Empresa</a>
        </li>
        <li class="nav-item">
            <a href="/empresas/" class="nav-link"> Empresas</a>
        </li>
        <li class="nav-item">
            <a href="/ordensdeservico/" class="nav-link"> OS</a>
        </li>
        <li class="nav-item">
            <a href="/ordemdeservico/" class="nav-link">nova OS</a>
        </li>
        <li class="nav-item">
            <a href="/logout/" class="nav-link"> Sair</a>
        </li>
    </ul>
</nav>

<br>
<br>
<br>
{% block main %}


{% endblock %}

</body>
</html>
