<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Indy Car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- JavaScript -->
    <!-- jQuery first,Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
    <script src="/static/jquery.mask.js"></script>


    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width", initial-scale="1.0"> 

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="/static/css/estilobase.css">

</head>
<body>


{% comment %} <nav class="navbar fixed-top navbar-expand-md navbar-light bg-info"> {% endcomment %}



<nav class="navbar navbar-expand-md navbar-light bg-info">
    <a href="" class="navbar-brand">
        <img src="../static/pagina-inicial/img/logo.png" width="142">
    </a>
    
    <!-- <h4><a href="/perfil/" class="nav-link"><font color="white">{{user}}</font></a></h4> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/index/" class="nav-link"> Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="/clientes/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cliente' %}">Adicionar Clientes</a>
                    <a class="dropdown-item" href="/clientes/">Lista de Clientes</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="/empresas/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Empresas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/empresa/">Adicionar Empresa</a>
                    <a class="dropdown-item" href="/empresas/">Lista de Empresas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="/ordensdeservico/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ordem de Servirço
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ordemdeservico/">Adicionar OS</a>
                    <a class="dropdown-item" href="/ordensdeservico/">Lista de OS</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="/materiais/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Materiais
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/material/">Adicionar Materiais</a>
                    <a class="dropdown-item" href="/materiais/">Lista de Materiais</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/perfil/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../static/pagina-inicial/img/icone.png" width="25">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/perfil/">Perfil</a>
                        <a class="dropdown-item" href="/logout/">Sair</a>
                    </div>
            </li>            
            <!-- <li class="nav-item">
                <a href="/logout/" class="nav-link"> Sair</a>
            </li> -->
        </ul>
    </div>
</nav>

<br>
<br>
<br>
{% block main %}


{% endblock %}

</body>
</html>


            {% comment %} <li class="nav-item">
                <a href="/clientes/" class="nav-link"> Clientes</a>
            </li> {% endcomment %}


       {% comment %} <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/clientes/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'cliente' %}">Adicionar Clientes</a>
          <a class="dropdown-item" href="/clientes/">Lista de Cliente</a>
        </div>
        </li> {% endcomment %}