<title>Carrinho | Indy Car</title>
    {% extends 'base.html' %}

    {% block main %}
{% for message in messages %}
  <div class="alert alert-success">
    <strong>{{message}}</strong>
  </div>  
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Carrinho</h5>
          {% if carrinho %}
            {% if carrinho.itens.all|length > 0 %}
              <p class="card-text">
                Aqui está a lista de itens cadastrados em seu <code>Carrinho</code>
              </p>

              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th>material</th>
                  <th>valor</th>
                  <th></th>
                  <th>qtd</th>
                  <th></th>
                  <th>Total</th>
                </tr>
                </thead>

                <tbody>
                {% for i in carrinho.itens.all %}
                  <tr>
                    <td>{{ i.material }}</td>
                    <td>{{ i.material.valor }}</td>
                    
                    
                    <td><a href="{{i.material.get_tirar_carrinho2}}"
                      class="btn btn-outline-danger">
                        -
                    </a></td>
                    <td>{{ i.quantidade }}</td>
                    <td><a href="{% url 'remover_do_carrinho' i.material.id carrinho.id %}">remover</a></td>
                    <td>
                      <a href="{{i.material.get_add_carrinho2}}"
                        class="btn btn-info">
                        +
                      </a>
                    </td>
                    <td>{{ i.total }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>
                    {{carrinho.total}}
                  </td>
                </tr>
                </tbody>
              </table>
            {% else %}
              <div class="text-center mt-5 mb-5 jumbotron">
                <h5>Nada no carrinho</h5>
              </div>
            {% endif %}
          {% else %}
            <div class="text-center mt-5 mb-5 jumbotron">
              <h5>Nada no carrinho</h5>
            </div>
          {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'materiais_orcamento'%}" class="btn btn-primary">
              Adicionar outros materiais
            </a>
            <a href="{% url 'orcamento' %}" class="btn btn-primary">
              Salvar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}