    {% extends 'base.html' %}

    {% block main %}
{% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>  
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Clientes</h5>
          {% if ordem.itens.all|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Clientes</code> cadastrados.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>USUARIO</th>
                <th>material</th>
                <th>valor</th>
                <th></th>
                <th>qtd</th>
                <th></th>
                <th>Total</th>
              </tr>
              </thead>

              <tbody>
              {% for i in ordem.itens.all %}
                <tr>
                  <td>{{ i.usuario }}</td>
                  <td>{{ i.material }}</td>
                  <td>{{ i.material.valor }}</td>
                  
                  <td><a href="{{i.material.get_tirar_orcamento}}"
                    class="btn btn-outline-danger">
                      -
                  </a></td>
                  <td>{{ i.quantidade }}</td>
                  <td>
                    <a href="{{i.material.get_add_orcamento}}"
                       class="btn btn-info">
                      +
                    </a>
                  </td>
                  <td>{{ i.total }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Cliente</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'cliente' %}" class="btn btn-primary">
              Cadastrar cliente
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}