{% extends 'base.html' %}

{% block main %}

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="/static/css/cssempresa.css">

    
{% for message in messages %}
  <div class="alert alert-success">
    <strong>{{message}}</strong>
  </div>  
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Empresas</h5>
          {% if empresas|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Empresas</code> cadastradas.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CNPJ</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              {% for i in empresas %}
                <tr>
                  <td><br>{{ i.id }}</td>
                  <td><br>{{ i.nome }}</td>
                  <td><br>{{ i.cnpj }}</td>
                  <td>
                    <a href="{{i.get_editar_empresa}}"
                       class="btn btn-outline-info">
                      Atualizar
                    </a>
                    <a href="{{i.get_del_empresa}}"
                      class="btn btn-outline-danger" onclick="confirmarAcao()">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Empresa</code> cadastrada ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'empresa' %}" class="btn btn-primary">
              Cadastrar Empresa
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}