
{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de OS</h5>
          <p >
            Complete o formulário abaixo para cadastrar
            uma nova <code>Ordem de serviço</code>.

          {% for msg in form_os.non_field_errors %}
            <p>
              {{msg}}
            </p>
          {% endfor %}

          </p>
          <form method="POST">
            {% csrf_token %}
            <!-- cpf -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Cliente</span>
              </div>
              {{form_os.cliente}}
            </div>
            <!-- Marca -->
            <h5 class="card-title">Veículo</h5>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Marca</span>
                </div>
                {{form_os.marca_veiculo}}
              </div>
              <!-- Modelo -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Modelo</span>
                </div>
                {{form_os.modelo_veiculo}}
              </div>
              <!-- Cor -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cor</span>
                </div>
                {{form_os.cor_veiculo}}
              </div>
              <!-- Placa -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Placa</span>
                </div>
                {{form_os.placa_veiculo}}
              </div>
              <!-- Ano -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ano</span>
                </div>
                {{form_os.ano_veiculo}}
              </div>
              <!-- Estado -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Estado</span>
              </div>
              {{form_os.estado_veiculo}}
            </div>
            <!-- Cidade -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Cidade</span>
              </div>
              {{form_os.cidade_veiculo}}
            </div>
            <br>
            <!-- Reparos Necessários -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Reparos Necessários</span>
                </div>
                {{form_os.reparos_necessarios}}
              </div>
            <!-- entrada -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Entrada</span>
                </div>
                <input type="text" readonly value="{{entrada}}">
            </div>
            <!-- Prazo de entrega -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Prazo de entrega</span>
                </div>
                {{form_os.prazo_entrega}}
            </div>
            <!-- Data de finalização -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Data de finalização</span>
                </div>
                {{form_os.data_finalizacao}}
            </div>
            <input class="btn btn-primary" type="submit" value="Enviar"></input>
            </fildset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}