
{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Clientes</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            um novo <code>Cliente</code>.

          {% for msg in form_cliente.non_field_errors %}
            <p>
              {{msg}}
            </p>
          {% endfor %}

          </p>
          <form method="POST">
            {% csrf_token %}
            <!-- rg -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">RG</span>
              </div>
              {{form_cliente.rg}}
            </div>

            <!-- Nome -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Nome</span>
              </div>
              {{form_cliente.nome}}
            </div>

            <!-- Endereço -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Endereço</span>
              </div>
              {{form_cliente.endereco}}
            </div>

			<!-- Bairro -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Bairro</span>
              </div>
              {{form_cliente.bairro}}
            </div>

			<!-- Email -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
              </div>
              {{form_cliente.email}}
            </div>

			<!-- Telefone -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Telefone</span>
              </div>
              {{form_cliente.telefone}}
            </div>

            <input class="btn btn-primary" type="submit" value="Enviar"></input>

          </fildset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}