
{% extends 'base.html' %}

{% block main %}

{% for msg in form_os.non_field_errors %}
<div class="alert alert-danger">
  <strong>{{msg}}</strong>
</div>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de OS</h5>
          <p >
            Complete o formulário abaixo para cadastrar
            uma nova <code>Ordem de serviço</code>.


          </p>
              
          
          <form method="POST">
            {% csrf_token %}
            <!-- Cliente -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Cliente</span>
              </div>
              {{form_os.cliente}}
            </div>
            
            <h5 class="card-title">Veículo</h5>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01">Marca:</label><br>
                  {{form_os.marca_veiculo}}
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip02">Modelo:</label><br>
                  {{form_os.modelo_veiculo}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip03">Cor:</label><br>
                  {{form_os.cor_veiculo}}
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-2 mb-3">
                  <label for="validationTooltip04">Placa:</label><br>
                  {{form_os.placa_veiculo}}
                </div>
                <div class="col-md-2 mb-3">
                  <label for="validationTooltip05">Ano:</label><br>
                  {{form_os.ano_veiculo}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip06">Estado:</label><br>
                  {{form_os.estado_veiculo}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip07">Cidade:</label><br>
                  {{form_os.cidade_veiculo}}
                </div>

              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Reparos necessários:</label><br>
                {{form_os.reparos_necessarios}}
              </div>

              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip08">Entrada:</label><br>
                  <input class="inputText" type="text" readonly value="{{entrada}}">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip09">Prazo de entrada:</label><br>
                  {{form_os.prazo_entrega}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip010">Data de finalizção:</label><br>
                  {{form_os.data_finalizacao}}
                </div>
              </div>
              <input class="btn btn-primary"  type="submit" value="Enviar" onclick="return validar_ordem()"/>
              </fildset>
            </form>  

            
              

              
                
                
            </div>
          </div>
        </form>
          <!--Fim teste-->



        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}