<title>Ordem de serviço | Indy Car</title>
{% extends 'base.html' %}

{% block main %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ message }}</strong>
    </div>
{% endfor %}


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de OS</h5>
          <p >
            Complete o formulário abaixo para cadastrar
            uma nova <code>Ordem de serviço</code>.


          </p>
              
          
          <form method="POST">
            {% csrf_token %}
            <!-- Cliente -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Cliente</span>
              </div>
              {{form_os.cliente}}
            </div>
            
            <h5 class="card-title">Veículo</h5>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01">Marca:<a id="red">*</a></label><br>
                  {{form_os.marca_veiculo}}
                  <p id="demo6"></p>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip02">Modelo:<a id="red">*</a></label><br>
                  {{form_os.modelo_veiculo}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip03">Cor:<a id="red">*</a></label><br>
                  {{form_os.cor_veiculo}}
                  <p id="demo8"></p>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-2 mb-3">
                  <label for="validationTooltip04">Placa:<a id="red">*</a></label><br>
                  {{form_os.placa_veiculo}}
                </div>
                <div class="col-md-2 mb-3">
                  <label for="validationTooltip05">Ano:<a id="red">*</a></label><br>
                  {{form_os.ano_veiculo}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip06">Estado:<a id="red">*</a></label><br>
                  {{form_os.estado_veiculo}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip07">Cidade:<a id="red">*</a></label><br>
                  {{form_os.cidade_veiculo}}
                  <p id="demo7"></p>
                </div>

              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Reparos necessários:<a id="red">*</a></label><br>
                {{form_os.reparos_necessarios}}
              </div>

              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip08">Entrada:<a id="red">*</a></label><br>
                  <input class="inputText" type="text" readonly value="{{entrada}}">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip09">Prazo de entrega:<a id="red">*</a></label><br>
                  {{form_os.prazo_entrega}}
                </div>

                <div class="col-md-4 mb-3">
                  <label for="validationTooltip010">Data de finalizção:<a id="red">*</a></label><br>
                  {{form_os.data_finalizacao}}
                </div>
              </div>
              <input class="btn btn-primary"  type="submit" value="Enviar" onclick="return validar_ordem()"/>
              </fildset>
            </form>  

            
              

              
                
                
            </div>
          </div>
        </form>
          <!--Fim teste-->



        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}