<title>Orçamento | Indy Car</title>
{% extends 'base.html' %}

{% block main %}

{% for message in messages %}
<div class="alert alert-danger">
  <strong>{{message}}</strong>
</div>  
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Orçamento</h5>
          <p class="card-text">
            Selecione abaixo um cliente para realizar um novo orçamento.

          </p>
          <form method="POST">
            {% csrf_token %}

            
          <!-- Cliente -->  
            <!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Cliente</span>
              </div>
              {{form_orcamento.cliente.nome}}
            </div>
            {% if cliente %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{cliente.nome}}</span>
                </div>             
              </div>
            {% endif %} -->
			
      <p class="card-text">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Ordem de serviço</span>
              </div>
              {{form_orcamento.ordem_de_servico}}
            </div>
            <br>
            <h5 class="card-title">Criar Orçamento</h5>
            <br>
            
            <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01"><strong>Materiais:<a id="red">*</a></strong></label><br>
                  {{form_orcamento.carrinho}}
                  
                {% if instance %}
                  <a href="{% url 'editar_carrinho' instance.carrinho.id instance.id %}">Editar</a>
                  {% for i in instance.resumo %}
                    {{i}}<br>
                  {% endfor %}
                {% else %}
                  <a href="{% url 'carrinho' %}">Editar</a>
                  {% for i in carrinho.itens.all %}
                    {{i}}<br>
                  {% endfor %}
                {% endif %}
                
                </div>
            </div><br>


              <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Valor total dos materiais:</label><br>
                    {% if instance %}
                    <!-- campo só usado pro js calcular o total -->
                      <input type="text" id='carrinho_total' value='{{instance.carrinho.total}}' readonly>
                    {% else %}
                    <!-- campo só usado pro js calcular o total -->
                      <input type="text" id='carrinho_total' value='{{carrinho.total}}' readonly>
                    {% endif %}
                  </div>
              </div>

      <!-- Serviços -->
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Serviços necessários:<a id="red">*</a></label><br>
                {{form_orcamento.servicos}}
              </div>    
      <!-- Peças -->
            <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Peças</span>
                </div>
                {{form_orcamento.pecas}}
            </div> -->

      <!-- Quantidade -->
      
            <!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Quantidade</span>
              </div>
              {{form_orcamento.quantidade_pecas}}
            </div> -->

            
  
            
            <div class="form-row">
                <!-- Valor da Mão de Obra -->
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01">Valor da Mão de Obra:<a id="red">*</a></label><br>
                  {{form_orcamento.valor_mao_de_obra}}
                </div>
                <!-- Total a Pagar -->
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip02">Total a Pagar:</label><br>
                  {% if instance %}
                  <input id='total_a_pagar' type="text" value={{instance.total}} readonly>
                {% else %}
                  {% if carrinho %}
                    <input id='total_a_pagar' type="text" value={{carrinho.total}} readonly>
                  {% endif %}
                {% endif %}
                </div>
            </div>

            <div class="form-row">
                <!-- Previsao de Entrega -->
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01">Previsão de Entrega:<a id="red">*</a></label><br>
                  {{form_orcamento.previsao_entrega}}
                </div>
                <!-- Data de Saída -->
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip02">Data de Saída:<a id="red">*</a></label><br>
                  {{form_orcamento.data_saida}}
                </div>
            </div>    



            <input class="btn btn-primary" type="submit" value="Enviar" onclick="return validar_orcamento()"/>

          </fildset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}