{% extends 'base.html' %}

{% block main %}
{% for message in messages %}
  <div class="alert alert-danger">
    <strong>{{message}}</strong>
  </div>  
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Empresas</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            uma nova <code>Empresa</code>.

          {% for msg in form_empresa.non_field_errors %}
			<p>
				{{msg}}
			</p>
		{% endfor %}

          </p>

          <form method="POST">
          {% csrf_token %}
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Nome:</label><br>
                {{form_empresa.nome}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">CNPJ:</label><br>
                {{form_empresa.cnpj}}
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Endereço:</label><br>
                {{form_empresa.endereco}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Bairro:</label><br>
                {{form_empresa.bairro}}
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Email:</label><br>
                {{form_empresa.email}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Telefone:</label><br>
                {{form_empresa.telefone}}
              </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Enviar"></input>

          </fildset>
          </form> 

          <!--Fim teste-->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}