<title>Clientes | Indy Car</title>
{% extends 'base.html' %}

{% block main %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ message }}</strong>
    </div>
{% endfor %}


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Clientes</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            um novo <code>Cliente</code>


          </p>
          
          <form method="POST" id="forms">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Nome:<a id="red">*</a></label><br>
                {{form_cliente.nome}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">CPF:<a id="red">*</a></label><br>
                {{form_cliente.cpf}}
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Endereço:<a id="red">*</a></label><br>
                {{form_cliente.endereco}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Bairro:<a id="red">*</a></label><br>
                {{form_cliente.bairro}}
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Email:<a id="red">*</a></label><br>
                {{form_cliente.email}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Telefone:<a id="red">*</a></label><br>
                {{form_cliente.telefone}}
              </div>
            </div>
            <input class="btn btn-primary" class="tira" type="submit" value="Enviar" onclick="return validar_cliente()"/>

          </fildset>
          </form>  
          



        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}