{% extends 'base.html' %}

{% block main %}
{% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>  
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Cliente</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Cliente</code>.
          </p>
          <a href="/cliente/"
             class="btn btn-primary">
            Novo Cliente
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Clientes</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Clientes</code> cadastrados.
          </p>
          <a href="/clientes/"
             class="btn btn-primary">
            Vá para a lista
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Adicionar Empresas</h5>
          <p class="card-text">
            Cadastre aqui uma nova <code>Empresa</code>
          </p>
          <a href="/empresa/"
             class="btn btn-primary">
            Nova Empresa
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Empresas</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Empresas</code> cadastradas
          </p>
          <a href="/empresas/"
             class="btn btn-primary">
            Vá para a lista
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Adicionar OS</h5>
          <p class="card-text">
            Cadastre aqui uma nova <code>Ordens de Serviços</code>
          </p>
          <a href="ordemdeservico/"
             class="btn btn-primary">
            Nova OS
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>  
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ordens de Serviços</h5>
          <p class="card-text">
            Veja aqui a lista completa de suas <code>Ordens de Serviços</code> cadastradas.
          </p>
          <a href="/ordensdeservico/"
             class="btn btn-primary">
            Vá para a lista
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Adicionar Orçamento</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Orçamento</code>
          </p>
          <a href="/novoorcamento/"
             class="btn btn-primary">
            Novo Orçamento
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>  
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Orçamentos</h5>
          <p class="card-text">
            Veja aqui a lista completa de sues <code>Orçamento</code> cadastrados.
          </p>
          <a href="/orcamento/"
             class="btn btn-primary">
            Vá para a lista
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>   
    </div>
  </div>
</div>



{% endblock %}