<title>Lucros | Indy Car</title>
{% extends 'base.html' %}

{% block main %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ message }}</strong>
    </div>
{% endfor %}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" id="center">Lucros</h5><br>
          

            <form action="" method="GET">
              {{form.as_p}}
            <input class="btn btn-outline-info" type="submit" value="Buscar">
            </form>  
            <br>
            <br>

          
          {% csrf_token %}
            <div class="form-row d-flex justify-content-center">
              <div class="card border-danger mb-3" id="lucro">
                <div class="card-header">Total gasto com materiais</div>
                <div class="card-body text-danger">
                <p class="card-text">R$ {{total_gasto}}</p>
                </div>
              </div>
              <div class="card border-info mb-3" id="lucro">
                <div class="card-header">Total de mao de obra</div>
                <div class="card-body text-info">
                <p class="card-text">R$ {{mao_de_obra}}</p>
                </div>
              </div>

              <div class="card border-info mb-3" id="lucro">
                <div class="card-header">Total dos orçamentos</div>
                <div class="card-body text-info">
                <p class="card-text">R$ {{total_orcamento}}</p>
                </div>
              </div>
              <div class="card border-success mb-3" id="lucro">
                <div class="card-header">Total de lucros</div>
                <div class="card-body text-success">
                <p class="card-text">R$ {{lucros}}</p>
                </div>
              </div>
            </div>
          

          <!--Fim teste-->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}