<title>Lucros | Indy Car</title>
{% extends 'base.html' %}

{% block main %}
{% for message in messages %}
<div class="alert alert-danger">
    <strong>{{message}}</strong>
  </div>  
  {% endfor %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" id="center">Lucros</h5><br>
          

            <form action="" method="GET">
              {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Buscar">
            </form>  

          
          {% csrf_token %}
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Total gasto com materiais:</label><br>
                {{total_gasto}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Total mao de obra:</label><br>
                {{mao_de_obra}}
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Total orçamentos:</label><br>
                {{total_orcamento}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Total de lucros:</label><br>
                {{lucros}}
              </div>
            </div>
          

          <!--Fim teste-->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}