<title>Material | Indy Car</title>
{% extends 'base.html' %}

{% block main %}

<!-- Estilo customizado -->
<link rel="stylesheet" type="text/css" href="/static/css/cssmateriais.css">

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ message }}</strong>
    </div>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Materiais</h5>
          {% if materiais|length > 0 %}
            <p class="card-text">
                Selecione os <code>Materiais</code> necessários para o reparo.
            </p>
            <form method="POST" action="/material/busca/">
              {% csrf_token %}
              <input type="text" name="descricao" id="DescricaoListaMaterial" placeholder="descricao do Material" required autocomplete="off">
              <input class="btn btn-outline-info" type="submit" value="Pesquisar">
            </form><br>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Quantidade em estoque</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              {% for i in materiais %}
                <tr>
                  <td><br>{{ i.id }}</td>
                  <td><br>{{ i.descricao }}</td>
                  <td><br>{{ i.quantidade_estoque }}</td>
                  <td>
                    <a href="{{i.get_editar_material}}"
                       class="btn btn-outline-info">
                      Atualizar
                    </a>
                    <a href="{{i.get_del_material}}"
                      class="btn btn-outline-danger" onclick="confirmarAcao()">
                        Excluir
                    </a>
                    <a href="{{i.get_add_carrinho}}"
                        class="btn btn-outline-success">
                          Adicionar no carrinho
                      </a>
                  </td>
                      
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhumo <code>Material</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
              <a href="{% url 'carrinho' %}" class="btn btn-primary">
                  Carrinho
                </a>
            <a href="{% url 'material' %}" class="btn btn-primary">
              Cadastrar Material
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}