{% extends 'base.html' %}
{% block main %}
{% for message in messages %}
  <div class="alert alert-success">
    <strong>{{message}}</strong>
  </div>  
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Ordens de serviço</h5>
          {% if ordens|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Ordens de serviço</code> encontradas.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Cliente</th>
                <th>Prazo</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              {% for i in ordens %}
                <tr>
                  <td><br>{{ i.cliente.nome }}</td>
                  <td><br>{{ i.data_entrega }}</td>
                  {% if i.status == True %}
                    <td class="status"><br>Finalizado</td>
                  {% else %}
                    <td class="status"><br>Não finalizado</td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum resultado.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href=""
                class="btn btn-info">
              Voltar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}