html {
    background: #e3e3e3; /* Cor do fundo do documento */
    height: 100%; /* Define o tamanho do Documento HTML */
}
body {
  background: #fff; /* Cor do fundo do corpo */
  border: 2px solid e3e3e3;
  box-sizing: border-box;
  font-family: "Verdana";
  height: 100%;
  margin: 0 auto; /* Centraliza */
  padding: 8px;
  width: 75%; /* Define a largura do Corpo do Documento */
}
.input-group-prepend{
  width: 100px;
}




.perfil {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}


@media (max-width: 1920px){
  .perfil {
    width: 1230px;
  }
}

@media (max-width: 992px){
  .perfil {
    width: 960px;
    max-width: 100%;
  }
}

.perfil {
   position: relative;
   margin-left: auto;
   margin-right: auto;
}