/* html {
    background: #e3e3e3; 
    height: 100%;
}
body {
  background: #fff; 
  border: 2px solid e3e3e3;
  box-sizing: border-box;
  font-family: "Verdana";
  height: 100%;
  margin: 0 auto; 
  padding: 8px;
  width: 100%; 
} */


/* Responsividade*/
body { padding: 15px; background:rgba(224, 224, 224, 0.808); font-family: Arial, 
  Helvetica, sans-serif }
   
  .caixa {
      border: solid 1px #666; 
      padding: 5px 10px;
      margin: 40px;
  }
   
  .area-visivel span {
      color: #666;
      display: none;
  }
   
  /* max-width  */
  @media screen and (max-width: 600px) {
      .um {
          background: #F9C;
      }
      span.lt600 {
          display: inline-block;
      }
      .inputText{
        width: 200px;
      
      }

      .inputMaterial{
        width:200px;
      }

      #data_saida{
        width:200px;
      }

      #previsao_entrega{
        width:200px;
      }
      
      .input-group{
        width: 200px;
      
      }

      .estado{
        width: 200px;
        height: 20px;
      }
      
      .input-group-text{
        width: 200px;

      }

      .inputLittle{
        width: 200px;
      }
      table, thead, tbody, th, td, tr { 
		    display: block; 
      }

      .inputReparo{
        width: 200px;
        height: 150px;
      }

      .inputServico{
        width: 200px;
        height: 150px;
      }

      .inputLittle{
        width: 200px;
      }

      .date{
        width: 200px;
      }     

    
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "ID"; font-weight: bold;}
	td:nth-of-type(2):before { content: "Nome"; font-weight: bold;}
    td:nth-of-type(3):before { content: "CPF"; font-weight: bold;}
  }
  
 

   
  /* min-width */
  @media screen and (min-width: 1000px) {
      .dois {
          background: #F90;
      }
      span.gt900 {
          display: inline-block;
      }
      
      .inputText{
        width: 300px;
      
      }

      .estado{
        width: 300px;
        height: 20px;
      }
      
      /*.input-group{
        width: 300px;
      
      }*/
      
      /*.input-group-text{
        width: 300px;
      }*/

      .inputLittle{
        width: 100px;
      }

      .inputReparo{
        width: 600px;
        height: 100px;
      }

      .inputServico{
        width: 550px;
        height: 100px;
      }

      .date{
        width: 300px;
      }

      .inputMaterial{
        width:200px;
      }

      #data_saida{
        width:200px;
      }

      #previsao_entrega{
        width:200px;
      }

      
  

  }
   
  /* min-width & max-width */
  @media screen and (min-width: 600px) and (max-width: 1000px) {
      .tres {
          background: #9CF;
      }
      span.bt600-900 {
          display: inline-block;
          
      }
      .inputText{
        width: 200px;
      }

      .estado{
        width: 200px;
        height: 20px;
      }
      
      .input-group{
        width: 200px;
      
      }
      
      .input-group-text{
          width: 200px;
      }

      .inputLittle{
        width: 80px;
      }

      .inputReparo{
        width: 400px;
        height: 100px;
      }

      .inputServico{
        width: 400px;
        height: 100px;
      }

      .date{
        width: 200px;
      }

      .inputMaterial{
        width:200px;
      }

      #data_saida{
        width:200px;
      }

      #previsao_entrega{
        width:200px;
      }

  }
   
  /* max device width */
  @media screen and (max-device-width: 480px) {
      .iphone {
          background: #ccc;
      }
  }
/* Estilo para formulários
.inputText{
  width: 300px;

}

.input-group{
  width: 300px;

}

.input-group-text{
    width: 300px;
}*/

/*Fomulário Ordem de Serviço*/


.dropdown-menu a:hover,
.dropdown-menu a:focus{

  background-color: #5bc0de;
  color: white;
  display: block; 
 
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#perfil {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:450px;
	height: 525px;
	box-sizing: border-box;
	background:white;
	padding: 40px; 
}

#editarusuario {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:450px;
	height: 450px;
	box-sizing: border-box;
	background:white;
	padding: 40px; 
}

#novasenha {
	position: absolute;
	top:55%;
  left: 50%;
	transform: translate(-50%,-50%);
	width:450px;
	height: 630px;
	box-sizing: border-box;
	background:white;
	padding: 40px; 
}


#alterarsenha {
	position: absolute;
	top:55%;
  left: 50%;
	transform: translate(-50%,-50%);
	width:450px;
	height: 350px;
	box-sizing: border-box;
	background:white;
	padding: 40px; 
}

#novousuario {
	position: absolute;
	top:55%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:450px;
	height: 550px;
	box-sizing: border-box;
	background:white;
	padding: 40px; 
}

#negrito {
  font-weight: bold;
}

#center{
    text-align: center;
}

#logo {
    font-family: 'impact';
    src: local('impact'),
         url('/funilaria/static/fonts/isle_body/impact.ttf') format("truetype");
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#estado{
  height:10px;
}


#red{
  color: red;

}

.vermelho{
  color:red;
}

#lucro{

  width:250px;
  height:100px;
}

.estado{
  width: 200px;
  height: 30px;
}
