html {
    background: #e3e3e3; /* Cor do fundo do documento */
    height: 100%; /* Define o tamanho do Documento HTML */
}
body {
  background: #fff; /* Cor do fundo do corpo */
  border: 2px solid e3e3e3;
  box-sizing: border-box;
  font-family: "Verdana";
  height: 100%;
  margin: 0 auto; /* Centraliza */
  padding: 8px;
  width: 90%; /* Define a largura do Corpo do Documento */
}


/* Responsividade*/
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2, .c3 {
  width: 100%;
}

@media (min-width: 600px) {
  .c1 {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .c2 {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }

  .c3 {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}


@media (min-width: 800px) {
  .c2 {
    width: 20%;
  }

  .c3 {
    width: 20%;
  }
}


/* Estilo para formulários*/
.inputText{
  width: 300px;
}

.input-group-text{
  width: 150px;
}

/*Fomulário Ordem de Serviço*/


.dropdown-menu a:hover,
.dropdown-menu a:focus{

  background-color: #5bc0de;
  color: white;
}